html {
    background: rgba(27, 27, 30, 1);
    background-color: rgba(27, 27, 30, 1);
    font-size: 1vh;
    width: 100%;
    height: 100%;
}

.react-container {
    background: rgba(27, 27, 30, 1);
    background-color: rgba(27, 27, 30, 1);
    font-family: 'Oswald', sans-serif;
    color: rgba(216, 219, 226, 1);
    border-left: 1px solid white;
    height: 100%;
}

.header {
    text-align: center;
    color: rgba(216, 219, 226, 1);
    border-bottom: 1px solid white;
}

.wrapper {
    text-align: center;
}

.searchBar {
    margin: 10px 0;
    font-size: 3.5vh;
    background: rgba(27, 27, 30, 1);
    width: 100%;
    border: none;
    text-align: center;
}

.searchBar:focus {
    outline: none;
}

.infoBio {
    text-align: center;
}

.infoBio h1 {
    font-size: 5vh;
    margin-bottom: 20px;
}

.infoBio ul {
    display:inline-block;
	text-align:left;
}

.infoTracks {
    /*text-align: center; 
    list-style-position:inside;*/
    cursor: pointer;
    font-size: 1.5vh;
}

.infoText {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.7vh;
    font-family: 'Open Sans';
}

.infoPic {
    display: block;
    width: 20vh;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.floatChild {
    float: left;
    margin-right: 20px;
}

.tree {
    background: rgba(27, 27, 30, 1);
    background-color: rgba(27, 27, 30, 1);
    display: block;
    margin: 0;
    padding: 0;
}

.node {
    cursor: pointer;
}

.overlay {
    /**background-color:#EEE;*/
    background: rgba(27, 27, 30, 1);
}

.node circle {
    stroke: white;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}