html {
    background: rgba(27, 27, 30, 1);
}

li {
    cursor: pointer;
}

.header {
    height: 100px;
    text-align: center;
    margin: 20px 0;
    background: rgba(27, 27, 30, 1);
    color: rgba(216, 219, 226, 1);
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid white;
}

.title {
    font-size: 50px;
    font-family: 'Play', sans-serif;
}

.wrapper {
    text-align: center;
}

.searchBar {
    background: rgba(27, 27, 30, 1);
    width: 100%;
    border: none;
    font-size: 3em;
    text-align: center;
}

.searchBar:focus {
    outline: none;

}

.searchButton {
    margin: 10px 0;
}

.react-container {
    background: rgba(27, 27, 30, 1);
    font-family: 'Oswald', sans-serif;
    color: rgba(216, 219, 226, 1);
    border-left: 1px solid white;
}

.tree {
    display: block;
    margin: 0;
    padding: 0;
}

.node {
    cursor: pointer;
}

.overlay {
    /**background-color:#EEE;*/
    background: rgba(27, 27, 30, 1);
}

.node circle {
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle, .activeDrag .ghostCircle {
    display: none;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.info {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

.info h1 {
    text-align: center;
    font-family: Oswald;
    margin-bottom: 20px;
}

.infoBio {
    font-family: 'Open Sans', sans-serif;
}

.infoTracks {
    text-align: center; 
    list-style-position:inside;
}

.infoPic {
    display: block;
    width: 200px;
    height: 200px;
    margin: 1em auto;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.infoText {
    margin-top: 50px;
}

.floatChild {
    float: left;
    margin-right: 20px;
}