html {
  background: rgba(27, 27, 30, 1);
}

.header {
  text-align: center;
  margin: 20px 0;
}

.wrapper {
  text-align: center;
}

.searchBar {
  background: rgba(27, 27, 30, 1);
  width: 100%;
  border: none;
  font-size: 3em;
  text-align: center;
}

.searchBar:focus {
  outline: none;
}

.searchButton {
  margin: 20px 0;
}

.react-container {
  background: rgba(27, 27, 30, 1);
  font-family: 'Oswald', sans-serif;
  color: rgba(216, 219, 226, 1);
}

.title {
  font-size: 4em;
  font-family: 'Julius Sans One', sans-serif;
}

.tree {
  display: block;
  margin: 0;
  padding: 0;

}

.node {
cursor: pointer;
}

.overlay{
  /**background-color:#EEE;*/
  background: rgba(27, 27, 30, 1);

}

.node circle {

stroke: steelblue;
stroke-width: 1.5px;
}

.node text {
font-size:10px; 
font-family:sans-serif;
}

.link {
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}

.templink {
fill: none;
stroke: red;
stroke-width: 3px;
}

.ghostCircle.show{
  display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
   display: none;
}